In [1]:
import pandas as pd

In [2]:
series = pd.Series([5, 10, 13, 23])

In [3]:
series

0     5
1    10
2    13
3    23
dtype: int64

In [5]:
type(series)

pandas.core.series.Series

In [6]:
series[3]

23

In [7]:
chars = pd.Series(['d','a','n','i','e','l'])

In [8]:
chars

0    d
1    a
2    n
3    i
4    e
5    l
dtype: object

In [9]:
lista = ["hola","mundo","chao"]
df = pd.DataFrame(lista)
df

       0
0   hola
1  mundo
2   chao

In [10]:
data = {"Nombre":['Juan','Ana','Maria'],"Edad":[10,20,35],"Pais":["Mexico","Colombia","Brasil"]}

df = pd.DataFrame(data)
df

  Nombre  Edad      Pais
0   Juan    10    Mexico
1    Ana    20  Colombia
2  Maria    35    Brasil

In [11]:
print(df[["Nombre"]])

  Nombre
0   Juan
1    Ana
2  Maria

In [12]:
data = pd.read_csv('data/canciones.csv')

In [14]:
data.head(5)

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,6DCZcSspjsKoFjzjrWoCd,God's Plan,Drake,0.754,0.449,7.0,-9.211,1.0,0.1090,0.0332,0.000083,0.552,0.357,77.169,198973.0,4.0
1,3ee8Jmje8o58CHK66QrVC,SAD!,XXXTENTACION,0.740,0.613,8.0,-4.880,1.0,0.1450,0.2580,0.003720,0.123,0.473,75.023,166606.0,4.0
2,0e7ipj03S05BNilyu5bRz,rockstar (feat. 21 Savage),Post Malone,0.587,0.535,5.0,-6.090,0.0,0.0898,0.1170,0.000066,0.131,0.140,159.847,218147.0,4.0
3,3swc6WTsr7rl9DqQKQA55,Psycho (feat. Ty Dolla $ign),Post Malone,0.739,0.559,8.0,-8.011,1.0,0.1170,0.5800,0.000000,0.112,0.439,140.124,221440.0,4.0
4,2G7V7zsVDxg1yRsu7Ew9R,In My Feelings,Drake,0.835,0.626,1.0,-5.833,1.0,0.1250,0.0589,0.000060,0.396,0.350,91.030,217925.0,4.0

In [15]:
data.name

0                            God's Plan
1                                  SAD!
2            rockstar (feat. 21 Savage)
3          Psycho (feat. Ty Dolla $ign)
4                        In My Feelings
                    ...
95                    Rewrite The Stars
96    I Miss You (feat. Julia Michaels)
97                           No Brainer
98          Dusk Till Dawn - Radio Edit
99                           Be Alright
Name: name, Length: 100, dtype: object

In [19]:
artista = data.artists
artista

0            Drake
1     XXXTENTACION
2      Post Malone
3      Post Malone
4            Drake
          ...
95       Zac Efron
96    Clean Bandit
97       DJ Khaled
98            ZAYN
99      Dean Lewis
Name: artists, Length: 100, dtype: object

In [20]:
info = data.iloc[5]
info

id                  7dt6x5M1jzdTEt8oCbisT
name                           Better Now
artists                       Post Malone
danceability                         0.68
energy                              0.563
key                                  10.0
loudness                           -5.843
mode                                  1.0
speechiness                        0.0454
acousticness                        0.354
instrumentalness                      0.0
liveness                            0.136
valence                             0.374
tempo                             145.028
duration_ms                      231267.0
time_signature                        4.0
Name: 5, dtype: object

In [21]:
data.tail()

,id,name,artists,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
95,630sXRhIcfwr2e4RdNtjK,Rewrite The Stars,Zac Efron,0.684,0.619,10.0,-7.005,1.0,0.0386,0.0716,0.000000,0.1220,0.2840,125.046,217440.0,4.0
96,2xmrfQpmS2iJExTlklLoA,I Miss You (feat. Julia Michaels),Clean Bandit,0.638,0.658,3.0,-6.318,1.0,0.0456,0.2450,0.000004,0.0919,0.3300,105.076,205748.0,4.0
97,5WvAo7DNuPRmk4APhdPzi,No Brainer,DJ Khaled,0.552,0.760,0.0,-4.706,1.0,0.3420,0.0733,0.000000,0.0865,0.6390,135.702,260000.0,5.0
98,1j4kHkkpqZRBwE0A4CN4Y,Dusk Till Dawn - Radio Edit,ZAYN,0.258,0.437,11.0,-6.593,0.0,0.0390,0.1010,0.000001,0.1060,0.0967,180.043,239000.0,4.0
99,3EPXxR3ImUwfayaurPi3c,Be Alright,Dean Lewis,0.553,0.586,11.0,-6.319,1.0,0.0362,0.6970,0.000000,0.0813,0.4430,126.684,196373.0,4.0

In [22]:
data.shape

(100, 16)

In [23]:
data.info

<bound method DataFrame.info of                        id                               name       artists  \
0   6DCZcSspjsKoFjzjrWoCd                         God's Plan         Drake
1   3ee8Jmje8o58CHK66QrVC                               SAD!  XXXTENTACION
2   0e7ipj03S05BNilyu5bRz         rockstar (feat. 21 Savage)   Post Malone
3   3swc6WTsr7rl9DqQKQA55       Psycho (feat. Ty Dolla $ign)   Post Malone
4   2G7V7zsVDxg1yRsu7Ew9R                     In My Feelings         Drake
..                    ...                                ...           ...
95  630sXRhIcfwr2e4RdNtjK                  Rewrite The Stars     Zac Efron
96  2xmrfQpmS2iJExTlklLoA  I Miss You (feat. Julia Michaels)  Clean Bandit
97  5WvAo7DNuPRmk4APhdPzi                         No Brainer     DJ Khaled
98  1j4kHkkpqZRBwE0A4CN4Y        Dusk Till Dawn - Radio Edit          ZAYN
99  3EPXxR3ImUwfayaurPi3c                         Be Alright    Dean Lewis

    danceability  energy   key  loudness  mode  speechiness  acousticness  \
0          0.754   0.449   7.0    -9.211   1.0       0.1090        0.0332
1          0.740   0.613   8.0    -4.880   1.0       0.1450        0.2580
2          0.587   0.535   5.0    -6.090   0.0       0.0898        0.1170
3          0.739   0.559   8.0    -8.011   1.0       0.1170        0.5800
4          0.835   0.626   1.0    -5.833   1.0       0.1250        0.0589
..           ...     ...   ...       ...   ...          ...           ...
95         0.684   0.619  10.0    -7.005   1.0       0.0386        0.0716
96         0.638   0.658   3.0    -6.318   1.0       0.0456        0.2450
97         0.552   0.760   0.0    -4.706   1.0       0.3420        0.0733
98         0.258   0.437  11.0    -6.593   0.0       0.0390        0.1010
99         0.553   0.586  11.0    -6.319   1.0       0.0362        0.6970

    instrumentalness  liveness  valence    tempo  duration_ms  time_signature
0           0.000083    0.5520   0.3570   77.169     198973.0             4.0
1           0.003720    0.1230   0.4730   75.023     166606.0             4.0
2           0.000066    0.1310   0.1400  159.847     218147.0             4.0
3           0.000000    0.1120   0.4390  140.124     221440.0             4.0
4           0.000060    0.3960   0.3500   91.030     217925.0             4.0
..               ...       ...      ...      ...          ...             ...
95          0.000000    0.1220   0.2840  125.046     217440.0             4.0
96          0.000004    0.0919   0.3300  105.076     205748.0             4.0
97          0.000000    0.0865   0.6390  135.702     260000.0             5.0
98          0.000001    0.1060   0.0967  180.043     239000.0             4.0
99          0.000000    0.0813   0.4430  126.684     196373.0             4.0

[100 rows x 16 columns]>

In [25]:
data["tempo"].describe()

count    100.000000
mean     119.904180
std       28.795984
min       64.934000
25%       95.730750
50%      120.116000
75%      140.022750
max      198.075000
Name: tempo, dtype: float64